# General
.git
.gitignore
.dockerignore
node_modules
npm-debug.log
yarn-error.log
.env*
.DS_Store
Thumbs.db
__MACOSX

# Build outputs (ignore if not needed)
# build

# Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Testing
coverage
